* {
  font-family: arial, sans-serif;
  padding: 10;
  margin: 0;
  box-sizing: border-box;
}

/* nav {
  display: flex;
  padding: 10px;
  background-color: lightblue;
  flex-direction: row
} */

nav {
  align-self: right;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: lightblue;
}

body{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

